
h1 {
color: black;
text-align: center;
font-size: 50 px;
font-weight: bold;
}

.navbar ul{
    list-style-type: none;
    background-color: #cee6fe;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
    
.navbar a{
    color:navy;
    padding: 15px;
    display:block;
    text-align: center; 
}

.navbar li{
    float:left;
    font-size: 20px;
}

 
h2 {
color: black;
text-align: center;
font-size: 30 px;
font-weight: bold;
}

h3{ }

ol {}

h4{
color: black
text-align: left
}


