header {
  background-color: lightgray
} 
body { } 
h1 {
color: navy;
text-align: center;
font-weight: 400;
font-weight: bold;
}
h2 {
color: navy
text-align: center;
font-weight: 200;
font-weight: bold;
}
nav { } 

ol {}
